---
const url = 'https://www.pointcloudsp.com';
const target = '_blank';
const employer = 'Pointcloud Solutions';
import { Image } from 'astro:assets';
import type { ImageMetadata } from 'astro';
import { getCollection } from 'astro:content';
const allEntries = await getCollection('accomplishments');


import aws01 from '../../content/accomplishments/01-aws-sap-c02.png';
import aws02 from '../../content/accomplishments/02-aws-saa-c02.png';
import aws03 from '../../content/accomplishments/03-aws-clf-c02.png';
import gcp01 from '../../content/accomplishments/04-gcp-pca.png';
import msa01 from '../../content/accomplishments/05-msa-az-104.png';

const astroImports = [ { name: 'aws01', image: aws01 }, { name: 'aws02', image: aws02 }, { name: 'aws03', image: aws03 }, { name: 'gcp01', image: gcp01 }, { name: 'gcp01', image: gcp01 }, { name: 'msa01', image: msa01 } ];

const collMap = new Map();
const imgMap = new Map<string,{ title: string, altTxt: string, image: ImageMetadata}>();

allEntries
    .filter( f => f.data.line1 === 'cert' )
    .forEach( e => collMap.set( e.data.astroImportName, { title: e.data.title, exam: e.data.exam, alt: e.data.alt, badge: e.data.badge }));


astroImports
    .forEach( (i) => imgMap.set(i.name, { title: collMap.get(i.name).title, altTxt: collMap.get(i.name).alt, image: i.image } ));

---
<p id="bio-headline">Certified cloud architect, technical expert and hands-on technical leader at <a href={`${url}`} target={`${target}`}>{employer}</a></p>
<div class="bio-headline-img">
    { imgMap.keys().map( i => <Image src={imgMap.get(i)?.image} alt={imgMap.get(i)?.altTxt} title={imgMap.get(i)?.title} />) }
</div>
