---
import { getCollection, getEntry } from 'astro:content';
import HeadlineSocialImage from './HeadlineSocialImage.astro';
const { social_id, logo_img_typ
     , logo_href, logo_target
     , logo_class, logo_src
     , link_href, link_target
     , link_class, link_text } = Astro.props;
const imgEntries = await getCollection('socials/img');
console.log('imgEntries:',imgEntries);
const imgEntry = await imgEntries.getEntry(social_id);
console.log('imgEntry:',imgEntry);

console.log(Astro.props)
---
<div>
    <div>
        <a href={logo_href} target={logo_target} class={logo_class}>
            <div>
                <img src={logo_src} class={logo_class}/>
                <HeadlineSocialImage
                    type={logo_img_typ}
                    width={imgEntry.data.width}
                    height={imgEntry.data.height}
                    vb={imgEntry.data.viewBox}
                    d={imgEntry.data.d}
                    />
            </div>
        </a>
    </div>
    <div>
        <a href={link_href} target={link_target} class={link_class}>
            {link_text}
        </a>
    </div>
</div>